body{
    color: white;
    background: #3F3F41;
    font-family: serif;
    margin-top: 50px;
}

#table{
    margin-left: 1%;
    width: 46%;
    float: left;
    right: 0;
}

#input{
    margin-left: 1%;
    width: 46%;
    float: left;
    left: 0;
}

#cells{
    float: left;
    border-collapse: separate;
}

#cell{
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

#cellColor{
    color: gray;
    background: darkgray;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

#rotate {
    font-family: Aharoni, serif;
    color: gray;
    float: left;
    width: 3%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

#button{
    height: 30px;
    width: 200px;
    color: white;
    text-align: center;
    background: #7CB437;
    border-radius: 5px;
    border: none;
}

#inp{
    text-align: center;
    width: 120px;
    height: 30px;
    color: white;
    background: gray;
    border: 1px solid white;
    border-radius: 5px;
}

td{
    position: relative;
    text-align: center;
}

.start{
    text-align: center;
    left: 28px;
    top: 15px;
    border: 1px solid #7CB437;
    width: 2px;
    height: 0;
    position: absolute;
}

.l{
    z-index: 10;
    text-align: center;
    left: 0;
    top: 15px;
    border: 1px solid #7CB437;
    width: 2px;
    height: 0;
    position: absolute;
}

.r{
    z-index: 11;
    text-align: center;
    left: 28px;
    top: 15px;
    border: 1px solid #7CB437;
    width: 2px;
    height: 0;
    position: absolute;
}

.d{
    z-index: 12;
    bottom: 0;
    left: 15px;
    border: 1px solid #7CB437;
    width: 0;
    height: 2px;
    position: absolute;
}

.u{
    z-index: 13;
    top: -23px;
    left: 14px;
    border: 1px solid #7CB437;
    width: 0;
    height: 2px;
    position: relative;
}