body{
    background: #3F3F41;
}

#table{
    width: 40%;
    float: left;
    right: 0;
}

#input{
    width: 40%;
    float: left;
    left: 0;
}

#cells{
    border-collapse: separate;
}

#cell{
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

#cellColor{
    color: gray;
    background: darkgray;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

