body{
    color: white;
    background: #3F3F41;
}

#table{
    width: 47%;
    float: left;
    right: 0;
}

#input{
    width: 47%;
    float: left;
    left: 0;
}

#cells{
    border-collapse: separate;
}

#cell{
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

#cellColor{
    color: gray;
    background: darkgray;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

#rotate {
    font-family: Aharoni, serif;
    color: gray;
    float: left;
    width: 3%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

#button{
    height: 30px;
    width: 200px;
    color: white;
    text-align: center;
    background: #7CB437;
    border-radius: 5px;
    border: none;
}

#inp{
    text-align: center;
    width: 120px;
    height: 30px;
    color: white;
    background: gray;
    border: 1px solid white;
    border-radius: 5px;
}
